.item {
  overflow: hidden;
  border-top: 2px gray solid;

  &:last-child {
    border-bottom: 2px gray solid;
  }
}

.active{
  border-top-color: #69f48d;
  border-bottom-color: #69f48d;
}

.active + .item{
  border-top-color: #69f48d;
}

.item + .active{
  border-bottom-color: #69f48d;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.pb {
  padding-bottom: 1rem;
}
