.productCard {
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}

.cardTextBlock {
  display: flex;
  justify-content: space-between;
}

.cardTextBlock {
  padding: 0.6em 0.6em;
}

.title {
  font-weight: 400;
  font-size: 16px;
}

.price {
  font-weight: 600;
}