.createBtn{
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  transition: all ease-out 0.2s;
  margin: 0.7rem 0;

  &:hover{
    background-color: #00ab84;
    color: white;
  }
}

.adminPanel{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.menu{
  background-color: #e9ecf2;
  display: flex;
  flex-direction: column;
  padding-top: 0.7rem;

  button{
    margin-bottom: 1rem;
    text-align: left;
  }
}

table {
  border-collapse: collapse;
  text-align: left;
}

thead{
  background-color: #e9ecf2;
}

th {
  padding: 10px 15px;
  font-size: 15px;

}

.tableTitle > th{
  font-weight: 500;
}

.editBtn{
  width: 30px;
  height: auto;
  margin-top: 0.5rem;
}

.deleteBtn{
  width: 30px;
  height: auto;
  margin-top: 0.5rem;
}

