.contentWrapper{
  display: flex;
  justify-content: space-between;
}

.imgBlock{
  flex: 1 0 40%;

  img{
    width: 100%;
    height: auto;
  }
}

.infoBlock{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.accordion{
  //margin: 1rem 0;
}

.paramOptionsBlock{
  margin: 1rem 0;
}

.paramWrapper{
  display: flex;
  align-items: center;

  h3{
    width: 150px;
  }
}

.price{
  margin-bottom: 10px;
  font-weight: 600;
}

.description{
  //margin: 0.5rem 0;
}