.btn{
  font-size: 16px;
  padding: 0.8em 2em;
  font-weight: 500;
  margin-top: 0.6rem;
  max-width: 200px;
  border-radius: 3px;
}

.btnAnimation{
  background-color: #00AA83;
  transition: all 0.2s linear;
  color: white;

  &:hover{
    background-color: #018d6f;
  }
}